<!-- <div class="">
  Sidebar
</div> -->

<!-- <nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="#">Quizzer</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
          (click)="toggleNavBar()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav"
       [ngClass]="{ 'show' : navbarOpen }">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/questionnaires">Questionnaires</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/questionnaires/nouveau">Nouveau questionnaire</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
    </ul>
  </div>
</nav> -->
<div class="collapse navbar-collapse" id="sideNav">
  <ul class="nav flex-column">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/questionnaires">Questionnaires</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/questionnaires/nouveau">Nouveau questionnaire</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/questionnaires/nouveau">Nouvelle questions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/login">Login</a>
    </li>
  </ul>
</div>
