
<!-- derniere version -->

    <nav class="navbar navbar-expand-sm navbar-dark bg-dark align-items-start flex-sm-column flex-row">
        <a class="navbar-brand" href="#"><i class="fa fa-bullseye fa-fw"></i> Brand</a>
        <a href class="navbar-toggler" data-toggle="collapse" data-target=".sidebar">
           <span class="navbar-toggler-icon"></span>
        </a>
        <div class="collapse navbar-collapse sidebar">
            <ul class="flex-column navbar-nav w-100 justify-content-between">
                <li class="nav-item">
                    <a class="nav-link pl-0" href="#"><i class="fa fa-heart-o fa-fw"></i> <span class="">Link</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-0 dropdown-toggle text-nowrap" href="#m1" data-parent="#navbar1" data-toggle="collapse" data-target="#m1" aria-expanded="false">
                        <i class="fa fa-address-card-o fa-fw"></i> <span class=""> Link</span>
                    </a>
                    <div class="collapse" id="m1">
                        <ul class="flex-column nav">
                            <a class="nav-link px-0 text-truncate" href="#">Sub</a>
                            <a class="nav-link px-0 text-truncate" href="#">Sub longer</a>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-0" href="#"><i class="fa fa-book fa-fw"></i> <span class="">Link</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-0" href="#"><i class="fa fa-heart fa-fw"></i> <span class="">Link</span></a>
                </li>
            </ul>
        </div>
    </nav>





<!-- <div class="">
  Sidebar
</div> -->

<!-- <nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="#">Quizzer</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
          (click)="toggleNavBar()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav"
       [ngClass]="{ 'show' : navbarOpen }">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/questionnaires">Questionnaires</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/questionnaires/nouveau">Nouveau questionnaire</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
    </ul>
  </div>
</nav> -->


<!-- <div  id="sideNav"
      [ngClass]="{ 'show' : hideSideBar }"
      >

  <ul class="nav flex-column">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/questionnaires">Questionnaires</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/questionnaires/nouveau">Nouveau questionnaire</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/questionnaires/nouveau">Nouvelle questions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/login">Login</a>
    </li>
  </ul>
</div> -->
