:host {

}

.header {
  background: green ;
  display: flex ;
  flex-direction: row ;
  justify-content: space-around;
  padding: 20px ;
}

.header .logo {

}

.header .links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border: 1px solid red ;
}

.links a {
margin-right: 20px ;
display: block;
// height: 35px ;
width: auto;
padding: 0 5px;
color: #fff;

}
