
.default {
  display: flex ;
  flex-direction: column;
  // background-color:blue;
}

.main {
  display: flex ;
  flex-direction: row ;
}

// .red {
//   background-color: red;
// }
//
// .yellow {
//   background-color: yellow;
// }
//
// .blue {
//   background-color: blue;
// }
//
// .pink {
//   background-color: pink;
// }
