<div class="container-fluid">

  <div class="row wrapper">

    <aside class="col-12 col-sm-3 p-0 bg-dark">

      <app-sidebar class="red" [hideSideBar]="getHideSideBar()"></app-sidebar>

    </aside>

    <main class="col bg-faded py-3">

      <router-outlet></router-outlet>

    </main>

  </div>
  
</div>

<!-- ancienne version -->
<!-- <div class="">

<app-header (isHidden)="setHideSideBar($event)"></app-header>

<div class="container-fluid">
<div class="row ">
<div class="col-lg-2">
<app-sidebar class="red" [hideSideBar]="getHideSideBar()"></app-sidebar>
</div>
<div class="col-lg-10">
<router-outlet></router-outlet>
</div>
</div>
</div>

</div> -->
